---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header/Header.astro";
import data from "../../data/uk.json";
import Project from "../../components/Project/Project.astro";
import LinkButton from "../../components/LinkButton.astro";
import Experience from "../../components/ExperienceBlock/Experience.astro";
import Skills from "../../components/SkillsBlock/Skills.astro";
import Certifications from "../../components/Certificate/Certifications.astro";
import "../../styles/page.scss";
import "../../styles/global.scss";
import AboutMe from "../../components/AboutMe/AboutMe.astro";
import { getTranslation } from "../../i18n";

const t = getTranslation("uk");
const cvPath = `${import.meta.env.BASE_URL}CV_Borys_Hlynskyi.pdf`;
---

<Layout title={t.meta.title} lang="uk">
	<Header labels={t.header} currentLocale="uk" />
	<main>
		<section>
			<h1 class="name">👋🏻 {t.hero.greeting}</h1>
			<h2 class="subhead">{t.hero.subtitle}</h2>
			<Skills skills={data.skills} />

			<AboutMe texts={t.about} />
		</section>

		<section id="projects">
			<h2 class="section__heading">
				{t.sections.projectsPrefix}
				<span>{t.sections.projectsHighlight}</span> 🧙🏻‍♂️
			</h2>

			{data.projects.map((e) => <Project data={e} texts={t.project} />)}
		</section>

		<section>
			<h2 class="section__heading">
				{t.experience.experienceHeaderFirst}
				<span>{t.experience.experienceHeaderSecond}</span>👨‍💻
			</h2>
		</section>

		<section class="experience__section" id="experience">
			<Experience texts={t.experience} />
		</section>

		<section id="certifications">
			<Certifications certificates={data.certificates} texts={t.certifications} />
		</section>

		<section class="contact__section" id="contacts">
			<div class="waves-block contact">
				<div class="contact__wrap">
					<div class="contact__wrap--bg"></div>
					<h2 class="contact__title">{t.sections.contactTitle}</h2>
					<p class="contact__subtitle">
						{t.sections.contactSubtitle}
						<b>bglinskii6@gmail.com</b>
						{t.sections.contactOr}{" "}
						<b>{t.sections.linkedinName}</b>
					</p>
					<div class="contact__buttons">
						<LinkButton
							link="mailto:bglinskii6@gmail.com"
							text={t.sections.sendEmail}
						/>
						<LinkButton
							link="https://www.linkedin.com/in/borys-hlynskyi-16785b15b/"
							text={t.sections.linkedinProfile}
						/>
						<div class="contact__buttons--mobile">
							<LinkButton
								download={{
									link: cvPath,
									file: "CV_Borys_Hlynskyi.pdf",
								}}
								text={t.header.downloadCv}
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<script src="../index.js"></script>
