---
import LinkButton from "../LinkButton.astro";
import "../../styles/project.scss";

type Project = {
	title: string;
	description: string;
	codeLink: string;
	demoLink?: string;
	img: string;
	stack: Array<string>;
};

export interface Props {
	data: Project;
	texts: {
		code: string;
		demo: string;
	};
}

const { title, description, img, codeLink, demoLink, stack } = Astro.props.data;
const { texts } = Astro.props;
const normalizedImg = `${import.meta.env.BASE_URL}${img.replace(/^\/+/, "")}`;
---

<div class="project">
	<div class="content">
		<p class="title">{title}</p>
		<p class="desc">{description}</p>
		<div class="stack">
			{stack.map((e) => <div class="stack-item">{e}</div>)}
		</div>
		<div class="project__links">
			{codeLink && <LinkButton link={codeLink} text={`${texts.code} ↗️`} />}
			{demoLink && <LinkButton link={demoLink} text={`${texts.demo} ↗️`} />}
		</div>
	</div>
	<div class="image" style={`background-image:url(${normalizedImg})`}></div>
</div>

<script src="./project.js"></script>
