---
import Certificate from "./Certificate.astro";

export interface Props {
	certificates: Array<{
		title: string;
		description: string;
		links: Array<{ title: string; url: string }>;
		author?: string;
	}>;
	texts: {
		heading: string;
		showMore: string;
		showLess: string;
		authorLabel: string;
	};
}

const { certificates, texts } = Astro.props;
---

<h2 class="section__heading">{texts.heading} 👨🏻‍🏫</h2>

{
	certificates
		.slice(0, 3)
		.map((e) => (
			<Certificate
				title={e.title}
				description={e.description}
				links={e.links}
				author={e.author}
				authorLabel={texts.authorLabel}
			/>
		))
}
<div id="certification-more-content">
	{
		certificates
			.slice(3)
			.map((e) => (
				<Certificate
					title={e.title}
					description={e.description}
					links={e.links}
					author={e.author}
					authorLabel={texts.authorLabel}
				/>
			))
	}
</div>
<button id="show-more" data-more={texts.showMore} data-less={texts.showLess}>
	{texts.showMore}
</button>

<script src="./certification.js"></script>
