---
import "../../styles/experience.scss";

export interface Props {
	texts: {
		experienceHeading: string;
		experienceHeaderFirst: string;
		experienceHeaderSecond: string;
		educationHeading: string;
		company: string;
		roleSenior: string;
		roleJunior: string;
		periodSenior: string;
		periodJunior: string;
		mastersTitle: string;
		bachelorsTitle: string;
		degreeField: string;
		mastersPeriod: string;
		bachelorsPeriod: string;
	};
}

const { texts } = Astro.props;
---

<div class="waves-block experience">
	<div class="wave-scene" aria-hidden="true">
		<div class="wave-orb"></div>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="waves waves--back"
		>
			<path
				class="wave-shape"
				d="M0,160L26.7,160C53.3,160,107,160,160,144C213.3,128,267,96,320,74.7C373.3,53,427,43,480,64C533.3,85,587,139,640,176C693.3,213,747,235,800,218.7C853.3,203,907,149,960,160C1013.3,171,1067,245,1120,240C1173.3,235,1227,149,1280,122.7C1333.3,96,1387,128,1413,144L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="waves waves--mid"
		>
			<path
				class="wave-shape"
				d="M0,160L26.7,160C53.3,160,107,160,160,144C213.3,128,267,96,320,74.7C373.3,53,427,43,480,64C533.3,85,587,139,640,176C693.3,213,747,235,800,218.7C853.3,203,907,149,960,160C1013.3,171,1067,245,1120,240C1173.3,235,1227,149,1280,122.7C1333.3,96,1387,128,1413,144L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="waves waves--front"
		>
			<path
				class="wave-shape"
				d="M0,160L26.7,160C53.3,160,107,160,160,144C213.3,128,267,96,320,74.7C373.3,53,427,43,480,64C533.3,85,587,139,640,176C693.3,213,747,235,800,218.7C853.3,203,907,149,960,160C1013.3,171,1067,245,1120,240C1173.3,235,1227,149,1280,122.7C1333.3,96,1387,128,1413,144L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"
			></path>
		</svg>
		<div class="waves-bottom-blend"></div>
	</div>
	<div class="experience">
		<div class="experience__card">
			<h2><b>{texts.experienceHeading}</b> ⚒️</h2>
			<h3>{texts.company}</h3>
			<div class="experience__item">
				<p>{texts.roleSenior}</p>
				<p>{texts.periodSenior}</p>
			</div>
			<div class="experience__item">
				<p>{texts.roleJunior}</p>
				<p>{texts.periodJunior}</p>
			</div>
		</div>
		<div class="experience__card">
			<h2><b>{texts.educationHeading}</b> 🏫</h2>

			<h3>{texts.mastersTitle}</h3>
			<div class="experience__item">
				<p>{texts.degreeField}</p>
				<p>{texts.mastersPeriod}</p>
			</div>

			<h3>{texts.bachelorsTitle}</h3>
			<div class="experience__item">
				<p>{texts.degreeField}</p>
				<p>{texts.bachelorsPeriod}</p>
			</div>
		</div>
	</div>
</div>
