---
import LinkButton from "./LinkButton.astro";

type Project = {
  title: string;
  description: string;
  codeLink: string;
  demoLink: string;
  img: string;
  stack: Array<string>;
};

export interface Props {
  data: Project;
}

const { title, description, img, codeLink, demoLink, stack } = Astro.props.data;
---

<div class="project">
  <div class="content">
    <p class="title">{title}</p>
    <p>{description}</p>
    <div class="stack">
      {stack.map((e) => <div class="stack-item">{e}</div>)}
    </div>
    {codeLink && <LinkButton link={codeLink} text={"Code ↗️"} />}
    {demoLink && <LinkButton link={demoLink} text={"Demo ↗️"} />}
  </div>
  <div class="image" style={`background-image:url(${img})`}></div>
</div>

<style>
  .image {
    background-size: cover;
    background-position: center;
    flex: 1 1 40%;
    border-radius: 0px 20px 20px 0px;
  }
  .project {
    display: flex;
    gap: 50px;
    position: relative;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.1);
  }
  .title {
    font-size: 26px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 20px;
  }

  .codelink {
    color: white;
    text-decoration: none;
    background-color: ;
  }
  .content {
    flex: 1 1 60%;
    padding: 30px;
  }
  .stack {
    margin: 20px 0px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .stack-item {
    margin-top: 10px;
    border: 2px solid greenyellow;
    color: greenyellow;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: fit-content;
    font-weight: bold;
  }

  @media (max-width: 800px) {
    .image {
      display: none;
    }
    .content {
      flex: 1 1 0;
    }
  }
</style>
