---
export interface Props {
  title: string;
  lang?: "en" | "uk";
}

const { title, lang = "en" } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-ico" href={`${baseUrl}favicon.ico?`} />
    <link rel="apple-touch-icon" sizes="180x180" href={`${baseUrl}apple-touch-icon.png`} />
    <link rel="icon" type="image/png" sizes="32x32" href={`${baseUrl}favicon-32x32.png`} />
    <link rel="icon" type="image/png" sizes="16x16" href={`${baseUrl}favicon-16x16.png`} />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      (() => {
        const storageKey = "theme";
        const savedTheme = localStorage.getItem(storageKey);
        const preferredTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
        const theme = savedTheme === "dark" || savedTheme === "light" ? savedTheme : preferredTheme;
        document.documentElement.dataset.theme = theme;
      })();
    </script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
